html { background: var(--highlight-background) }

body {
 margin: 30px 10vw;
 padding: 16px;
 border-radius: 8px;

 background: var(--main-background);
 color: var(--main-text);
}

img {
  display: block;
  margin: 16px auto
}
